* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* width: 100vw;
  height: 100vh; */
  font-size: 16px;
  background-color: #ffffff;
  background-image: url(/images/Group-29.png);
  object-fit: contain;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Verdana, Geneva, sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
}

#root {
  width: 100vw;
  height: 100vh;
}

.content-box {
  width: 100%;
  height: 85%;
  background-color: #ffffff;
  box-shadow: -6px -6px 15px 0 rgba(0, 0, 0, 0.16);
}

.upper-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 0.5px solid #707070; */
}
.logo {
  margin-top: 64px;
}
.login-form {
  margin-top: 106px;
}
#loginForm {
  display: flex;
  flex-direction: column;
}
.group {
  position: relative;
}
input.username,
input.password {
  width: 280px;
  font-size: 1.3rem;
  padding-left: 2.5rem;
  border: none;
  border-bottom: solid 3px rgba(0, 0, 0, 0.16);
  margin-bottom: 66px;
  transition: 0.5s;
}
input.username:focus,
input.password:focus {
  outline: none;
  border-color: #551120;
}
input.username::placeholder,
input.password::placeholder {
  color: rgba(0, 0, 0, 0.16);
  font-size: 1.3rem;
}
.icon {
  position: absolute;
  left: 0;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.16);
  transition: 0.5s;
}
input.username:focus + .icon,
input.password:focus + .icon {
  color: #551120;
}

/* Riad's CSS */

.sign-up-section {
  /* text-transform: uppercase; */
  font: normal 600 18px/22px 'Montserrat', sans-serif;
  color: #0d0c0c;
  margin: 53px 82px;
}
.sign-up-section .left-core h2 {
  font: normal 900 20px/22px 'Montserrat', sans-serif;
  text-align: center;
}
.sign-up-section input {
  height: 49px;
  background: #f6efed;
  border: none;
  padding-left: 16px;
  width: 100%;
  margin-bottom: 10px;
}
/* CARET */
.caret2,
.caret3,
.caret4,
.caret5 {
  position: relative;
  display: inline-block;
}
.caret2 i,
.caret3 i,
.caret4 i {
  position: absolute;
  left: 60px;
  top: 7px;
  content: '';
  color: #ef3f29;
  font-size: 30px;
}
.caret3 i {
  left: 67px;
}
.caret4 i {
  left: 80px;
}
.sign-up-section .caret5 i {
  position: absolute;
  z-index: 1;
  right: 30px;
  top: 10px;
  font-size: 30px;
  color: #ef3f29;
  cursor: pointer;
  width: 0;
}
/* Dropdown */

.caret2,
.caret3 .caret4 .caret5 {
  position: relative;
}
.drop1,
.drop2,
.drop3,
.drop4 {
  position: absolute;
  content: '';
  top: 49px;
  left: 70px;
  width: 100px;
  display: none;
  cursor: pointer;
  z-index: 10;
}
.drop2 {
  width: 200px;
  left: 20px;
}
.drop3 {
  width: 60px;
  left: 20px;
}
.drop4 {
  width: 100px;
  left: 5px;
}
.drop1 p,
.drop2 p,
.drop3 p,
.drop4 p {
  height: 40px;
  border: 1px solid #ef3f29;
  background: #f6efed;
  margin: 0;
  font-weight: normal;
  text-align: center;
  padding: 10px 20px;
}
.caret2:hover .drop3,
.caret3:hover .drop3 {
  display: block;
}
.caret4:hover .drop4 {
  display: block;
}
.caret5:hover .drop1,
.caret5:hover .drop2 {
  display: block;
}

.sign-up-section input[placeholder] {
  /* text-transform: uppercase; */
  font: normal 400 18px/22px 'Montserrat', sans-serif;
}
.sign-up-section .left-core .name,
.sign-up-section .left-core .address,
.sign-up-section .left-core .gender,
.sign-up-section .left-core .mail,
.sign-up-section .left-core .nation,
.sign-up-section .left-core .proof,
.sign-up-section .left-core .eligible,
.sign-up-section .left-core .expiry {
  padding-bottom: 10px;
}
.sign-up-section .left-core .type1 {
  width: 400px;
}
.sign-up-section .left-core .type2 {
  width: 264px;
}
.sign-up-section .left-core .type3 {
  width: 325px;
}
.sign-up-section .left-core .type4 {
  width: 90px;
  margin-right: 16px;
}
.sign-up-section .left-core .type5 {
  width: 97px;
  margin-right: 16px;
}
.sign-up-section .left-core .type6 {
  width: 110px;
}
.fill p {
  font-weight: normal;
  color: #ef3f29;
  margin: 0;
}
.fill .form h2 {
  position: relative;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  font: normal 600 18px/22px 'Montserrat', sans-serif;
}
.fill .form h2 i {
  position: absolute;
  content: '';
  top: 15px;
  left: 0;
  font-size: 30px;
  color: #ef3f29;
}
.check {
  display: block;
  width: 300px;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check input {
  position: absolute;
  opacity: 0;
  height: 0;
  top: 0;
  right: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 5px;
  right: 0;
  height: 15px;
  width: 15px;
  cursor: pointer;
  border: 2px solid #ef3f29;
  background-color: #fff;
}
/* On mouse-over, add a grey background color */
.check:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
  right: 3px;
  top: 0px;
  width: 5px;
  height: 9px;
  border: 2px solid #ef3f29;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.check p {
  text-transform: none;
  color: #0e0e0e;
}

/* carousel css */

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 210px;
}
.carousel {
  position: relative;
}
.carousel__slide {
  margin-right: auto;
  margin-left: auto;
  display: none;
  max-width: 900px;
  list-style-type: none;
  text-align: center;
}
@media (max-width: 991px) {
  .carousel__slide {
    padding-right: 60px;
    padding-left: 60px;
  }
}
.carousel__slide--active {
  display: block;
}
.carousel-slide__content {
  margin-bottom: 19px;
  font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
  font-size: 16px;
}
@media (max-width: 991px) {
  .carousel-slide__content {
    font-size: 18px;
  }
}
.carousel-slide__author,
.carousel-slide__source {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
}
@media (min-width: 992px) {
  .carousel-slide__author,
  .carousel-slide__source {
    font-size: 16px;
  }
}
.carousel-slide__source {
  font-style: italic;
  color: #888;
}
.carousel__arrow {
  position: absolute;
  top: 50%;
  display: block;
  color: #111;
  cursor: pointer;
  opacity: 0.75;
  transform: translateY(-50%);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);
}
.carousel__arrow:focus {
  outline: 0;
}
.carousel__arrow:hover {
  opacity: 0.5;
}
.carousel__arrow--left {
  left: 32px;
}
.carousel__arrow--right {
  right: 32px;
}
.carousel__indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
.carousel__indicators li:nth-of-type(n + 2) {
  margin-left: 9px;
}
.carousel__indicator {
  display: block;
  width: 24px;
  height: 3px;
  background-color: #111;
  cursor: pointer;
  opacity: 0.15;
  transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);
}
.carousel__indicator:hover {
  opacity: 0.5;
}
.carousel__indicator--active,
.carousel__indicator--active:hover {
  opacity: 0.75;
}
